@use '../../../../styles/variables' as v;

.container {
    display: flex;
    flex-direction: column;
    gap: 7px;

    width: fit-content;

    label {
        width: fit-content;
    }

    input {
        width: 311px;  
        height: 20px;
        padding: 16px;
        background-color: v.$gray-background;
        border: none;
        box-shadow:inset 0px 0px 0px 1px v.$gray-light;
        border-radius: 4px;
        outline: none;

        &:disabled {
            box-shadow: none;
            color: v.$dark-green;
        }
}
}

