.container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &.section-right {
        flex-direction: row-reverse;
    }
    &__name {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}