.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  .my-dumplings,
  .all-dumplings {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;

    .dumplings-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      &.pointer {
        cursor: pointer;
      }
    }
  }
}
