<div class="container">
    <label [for]="label">{{ label }}</label>
    <div 
        class="container__input"
        [ngClass]="{'is-locked': isLocked()}"
    >
        @if(canBeLocked) {
            <ui-lock-button 
            [lockState]="isLocked()"
            (buttonClick)="handleLockButtonClick($event)"
            />
        }
        <textarea 
            [id]="label"
            class="area"
            [placeholder]="placeholder"
            [formControl]="textareaControl"
            (click)="handleTextareaClick()"
        >
        </textarea>
    </div>
</div>
