<div class="container">
  <label class="h3-typography" [for]="label">{{ label }}</label>
  <div
    class="container__input"
    [ngClass]="{ 'is-locked': isLocked(), 'locked-allow': canBeLocked }">
    @if(canBeLocked) {
    <ui-lock-button-atom
      [lockState]="isLocked()"
      (buttonClick)="handleLockButtonClick($event)"
    />
    }
    <textarea
      autosize
      [id]="label"
      class="area"
      [class.empty-area]="!textareaControl.value"
      [placeholder]="placeholder"
      [formControl]="textareaControl"
    >
    </textarea>
  </div>
</div>
