.container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__ingredients {
        display: flex;
        flex-direction: column;
        gap: 10px;

        font-size: 14px;
        line-height: 20px;
    }
}

.ingredients {
    &__header {
        font-weight: 700;
    }

    &__text {
        font-weight: 400;
    }
}