<ui-accordion-template [label]="'Przygotowanie'">
  <div class="container">
    <div class="container__instructions">
      <span class="instructions__header">Ciasto:</span>
      @for (instruction of instructions[InstructionTypeEnum.DOUGH_PREPARATION]; let index = $index; track index) {
        <span class="instructions__text">
          {{ index + 1 }}. {{ instruction }}
        </span>
      }
    </div>

    <div class="container__instructions">
      <span class="instructions__header">Farsz</span>
      @for (instruction of instructions[InstructionTypeEnum.FILLING_PREPARATION]; 
        let index = $index; 
        track index) {
        <span class="instructions__text">
          {{ index + 1 }}. {{ instruction }}
        </span>
      }
    </div>

    <div class="container__instructions">
      <span class="instructions__header">Formowanie i gotowanie pierogów:</span>
      @for (instruction of instructions[InstructionTypeEnum.FORMING_AND_COOKING_DUMPLINGS]; 
        let index = $index; 
        track index) {
        <span class="instructions__text">
          {{ index + 1 }}. {{ instruction }}
        </span>
      }
    </div>
  </div>
</ui-accordion-template>
