<div class="container" [ngClass]="{ 'section-right': sectionNameOnRight }">
  <div class="container__name">
    <img ngSrc="/assets/icons/dumpling.svg" width="30" height="30"/>
    <span class="h2-typography">{{ sectionName }}</span>
  </div>
  @if(buttonText) {
  <div class="container__button">
    @if(isLoading) {
    <ui-loader-atom />
    }
    <button 
      class="basic-button"
      (click)="buttonClicked.emit()"
      [ngStyle]="{width: buttonWidth}"
      >
      {{ buttonText }}
    </button>
  </div>
  }
</div>
